<!DOCTYPE html>
<html lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="">
    <meta name="ahrefs-site-verification" content="b1a9ed199a8597fe6013d37a0a6995c24afc8f8371f3811d360b1bc284c50377">
    {% if template.name == "collection" or template.name == "blog" %}
      {% assign canonical = canonical_url | split: "?" %}

      {% if canonical.size > 1 %}
        <link rel="canonical" href="{{ canonical | first }}"/>
      {% endif %}
    {% else %}
      <link rel="canonical" href="{{ canonical_url }}"/>
    {% endif %}

    <link rel="preconnect" href="https://cdn.shopify.com" crossorigin/>

    {% if page and page.template_suffix == "developer" %}
      <meta name="robots" content="noindex">
    {% endif %}

    {%- if settings.favicon != blank -%}
      <link rel="icon" type="image/png" href="{{ settings.favicon | image_url: width: 32, height: 32 }}"/>
    {%- endif -%}

    {%- unless settings.type_body_font.system? -%}
      <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin/>
    {%- endunless -%}

    <title>
      {% if page.template_suffix == "developer" %}
        {{ "accessibility.developer_title" | t }} {{ page_title }} &ndash; {{ shop.name }}
      {% else %}
        {{ page_title }} 
        {%- if current_tags %} &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif -%}
        {%- if current_page != 1 %} &ndash; Page {{ current_page }}{% endif -%}
        {%- unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless -%}
      {% endif %}
    </title>

    {% if page_description %}
      <meta name="description" content="{{ page_description | escape }}">
    {% endif %}

    {% render 'meta-tags' %}

    <script src="{{ 'global.js' | asset_url }}" defer="defer"></script>
    {{ content_for_header }}

    {%- liquid
      assign body_font_bold = settings.type_body_font | font_modify: 'weight', 'bold'
      assign body_font_800 = settings.type_body_font | font_modify: 'weight', '700'
      assign body_font_italic = settings.type_body_font | font_modify: 'style', 'italic'
      assign body_font_bold_italic = body_font_bold | font_modify: 'style', 'italic'
      assign body_font_800_italic = body_font_800 | font_modify: 'style', 'italic'
    %}

    {% style %}
      {{ settings.type_body_font | font_face: font_display: 'swap' }}
      {{ body_font_bold | font_face: font_display: 'swap' }}
      {{ body_font_800 | font_face: font_display: 'swap' }}
      {{ body_font_italic | font_face: font_display: 'swap' }}
      {{ body_font_bold_italic | font_face: font_display: 'swap' }}
      {{ body_font_800_italic | font_face: font_display: 'swap' }}
    {% endstyle %}
     {% render 'css-variables' %}

    {{ 'styles.min.css' | asset_url | stylesheet_tag }}

    {%- unless settings.type_body_font.system? -%}
      <link rel="preload" as="font" href="{{ settings.type_body_font | font_url }}" type="font/woff2" crossorigin />
    {%- endunless -%}

    <script src="{{ "glide.min.js" | asset_url }}" defer></script>
  </head>
  <body class="{% if request.design_mode %}shopify-design-mode{% endif %}">
    <a class="skip-to-content-link button visually-hidden" href="#MainContent">
      {{ "accessibility.skip_to_text" | t }}
    </a>

    {% section 'header' %}

    <main id="MainContent" class="content-for-layout focus-none layout-{{ page.template_suffix }}" tabindex="-1">
      {{ content_for_layout }}
    </main>

    {% sections 'footer-group' %}

    <ul hidden>
      <li id="a11y-refresh-page-message">{{ 'accessibility.refresh_page' | t }}</li>
      <li id="a11y-new-window-message">{{ 'accessibility.link_messages.new_window' | t }}</li>
    </ul>
    <div class="backdrop">
    </div>
  </body>
</html>