{% capture languages %}
  {% assign language_active = 0 %}
  {% assign language_count = 0 %}
  {% assign active_tag = 0 %}
  {% for filter in collection.filters %}
    {% if filter.param_name != "filter.p.m.appstore.only_free_plan" %}
      {% assign active_tag = active_tag | plus: filter.active_values.size %}
    {% endif %}
    {% if filter.param_name ==  "filter.p.m.appstore.languages_1" or filter.param_name ==  "filter.p.m.appstore.languages" %}
      {% assign language_active = language_active | plus: filter.active_values.size %}
      {% assign language_count = language_count | plus: filter.values.size  %}
      {%- for filter_value in filter.values -%}
        <li class="{% if forloop.index <= 6 %}visible{% endif %}">
          {% assign value = filter_value.param_name | append: "=" | append: filter_value.value | replace: " ", "+" %}
          {% assign disabled = false %}
          {% if filter_value.count == 0 and filter_value.active == false %}
            {% assign disabled = true %}
          {% endif %}
          {% assign label = filter_value.label | append: "(" | append: filter_value.count | append: ")" %}
          {% render 'checkbox', label: label, value: value, checked: filter_value.active, name: filter_value.param_name, disabled: disabled %}
        </li>
      {%- endfor -%}
    {% endif %}
  {% endfor %}
{% endcapture %}

{% style %}
    #shopify-section-{{ section.id }} {
		padding-top: {{ section.settings.section_padding_top_m }}px;
		padding-bottom: {{ section.settings.section_padding_bottom_m }}px;
	}

    @media screen and (min-width: 600px) {
        #shopify-section-{{ section.id }} {
            padding-top: {{ section.settings.section_padding_top_t }}px;
            padding-bottom: {{ section.settings.section_padding_bottom_t }}px;
        }
    }

    @media screen and (min-width: 1240px) {
        #shopify-section-{{ section.id }} {
            padding-top: {{ section.settings.section_padding_top_d }}px;
            padding-bottom: {{ section.settings.section_padding_bottom_d }}px;
        }
    }
{% endstyle %}

<div class="container dev-products">
  <div class="dev-products__grid">
      <button class="filter-button" toggle-filter type="button">
        <span>
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M3 4.5C3 3.67157 3.67157 3 4.5 3H19.5C20.3284 3 21 3.67157 21 4.5V6.58579C21 7.11622 20.7893 7.62493 20.4142 8L15 13.4142V20.8382C15 21.6559 14.1395 22.1878 13.4081 21.8221L9.69098 19.9635C9.2675 19.7518 9 19.319 9 18.8455V13.4142L3.58579 8C3.21071 7.62493 3 7.11622 3 6.58579V4.5ZM5 5V6.58579L10.5607 12.1464C10.842 12.4278 11 12.8093 11 13.2071V18.382L13 19.382V13.2071C13 12.8093 13.158 12.4278 13.4393 12.1464L19 6.58579V5H5Z" fill="currentColor"/>
            </svg>
        </span>
        {{ "page.filter_products_html" | t : count: collection.products.size }}
      </button>
      <products-filter class="dev-products__filter filter">
          <form class="filter-form">
            <div class="active-filters filter">
              <button class="filter__close" toggle-filter type="button"></button>
              {% paginate collection.products by 99999 %}
                {% assign filter_title = "page.filter_products_html" | t : count: collection.products.size %}
              {% endpaginate %}
              {% render 'sec-heading-3', sec_heading_3: filter_title %}
              <div class="filter__buttons" {% if active_tag > 0 %}style="display:block"{% endif %}>
                <div class="filter__tags">
                  {%- for filter in collection.filters -%}
                    {%- if filter.type == "price_range" -%}
                      {%- if filter.min_value.value != nil or filter.max_value.value != nil -%}
                        <div class="filter__tag" href="{{ filter.url_to_remove }}">
                          {%- assign min_value = filter.min_value.value | default: 0 -%}
                          {%- assign max_value = filter.max_value.value | default: filter.range_max -%}
                          {{ min_value | money }} - {{ max_value | money }} X
                        </div>
                      {%- endif -%}
                    {%- else -%}
                      {% unless filter.param_name == "filter.p.m.appstore.only_free_plan" %}
                      {%- for filter_value in filter.active_values -%}
                        <div class="filter__tag">
                          {{ filter_value.label }} 
                          <button type="button" remove-tag class="filter__tag-btn" value="{{ filter_value.url_to_remove }}"></button>
                        </div>
                      {%- endfor -%}
                      {% endunless %}
                    {%- endif- %}
                  {%- endfor -%}
                </div>
                <button type="button" remove-filter class="filter__remove-all">{{ "page.reset_all" | t }}</button>
              </div>
            {%- for filter in collection.filters -%}
              {% if filter.param_name !=  "filter.p.m.appstore.languages_1" and filter.param_name != "filter.p.m.appstore.only_free_plan" %}
                
                    {%- case filter.type -%}
                      {%- when 'boolean' or 'list' -%}
                          {% if filter.param_name == "filter.p.m.appstore.rating" %}
                            <div class="filter-item filter-item--rating">
                              <p>{{ filter.label }}</p>
                            {% liquid 
                              assign f_v = blank
                              assign f_v_active = blank
                              assign v_name = blank
                              assign v_disabled = blank
                              for filter_value in filter.values
                                assign v_name = filter_value.param_name
                                assign v_disabled = filter_value.count
                                
                                if f_v == blank
                                  assign f_v = filter_value.value
                                else
                                  assign f_v = f_v | append: "," | append: filter_value.value
                                endif

                                if filter_value.active
                                  if f_v_active == blank
                                    assign f_v_active = filter_value.value
                                  else
                                    assign f_v_active = f_v_active | append: "," | append: filter_value.value
                                  endif
                                endif
                              endfor
                            %}
                            <ul>
                              {% for row in (0..5) %}
                                <li class="">
                                  {% capture stars %}
                                    {{ row }}.0
                                    <div class="filter__stars">
                                      {% for i in (1..5) %}
                                        <span class="review-star-icon">
                                          {% if row < i %}
                                            {{ settings.star-icon-empty }}
                                          {% else %}
                                            {{ settings.star-icon }}
                                          {% endif %}
                                        </span>
                                      {% endfor %}
                                    </div>
                                  {% endcapture %}
                                  {% liquid
                                    assign active = false
                                    assign disabled = true
                                    assign d_array = f_v | split: ","
                                    assign array = f_v_active | split: ","
                                    assign min = row 
                                    assign max = row | plus: 0.9
                                    
                                    if v_disabled == 0
                                      assign disabled = true
                                    endif

                                    for a in array
                                      assign a1 = a | plus: 0.0
                                      if  a1 <= max and a1 >= min
                                        assign active = true
                                      endif
                                    endfor

                                    for a in d_array
                                      assign a1 = a | plus: 0.0
                                      if  a1 <= max and a1 >= min
                                        assign disabled = false
                                      endif
                                    endfor

                                    case row
                                      when 0
                                        assign value = ""
                                        for v in d_array
                                          assign v_num = v | abs
                                          if v_num >= 0 and v_num < 1
                                            assign value = value | append: v_name | append: "=" | append: v_num | append: "&"
                                          endif
                                        endfor
                                      when 1
                                        assign value = ""
                                        for v in d_array
                                          assign v_num = v | abs
                                          if v_num >= 1 and v_num < 2
                                            assign value = value | append: v_name | append: "=" | append: v_num | append: "&"
                                          endif
                                        endfor
                                      when 2
                                        assign value = ""
                                        for v in d_array
                                          assign v_num = v | abs
                                          if v_num >= 2 and v_num < 3
                                            assign value = value | append: v_name | append: "=" | append: v_num | append: "&"
                                          endif
                                        endfor
                                      when 3
                                        assign value = ""
                                        for v in d_array
                                          assign v_num = v | abs
                                          if v_num >= 3 and v_num < 4
                                            assign value = value | append: v_name | append: "=" | append: v_num | append: "&"
                                          endif
                                        endfor
                                      when 4
                                        assign value = ""
                                        for v in d_array
                                          assign v_num = v | abs
                                          if v_num >= 4 and v_num < 5
                                            assign value = value | append: v_name | append: "=" | append: v_num | append: "&"
                                          endif
                                        endfor
                                      when 5
                                        assign value = ""
                                        for v in d_array
                                          assign v_num = v | abs
                                          if v_num == 5
                                            assign value = value | append: v_name | append: "=" | append: v_num | append: "&"
                                          endif
                                        endfor
                                      endcase
                                  %}
                                  {% render 'checkbox', label: stars, value: value, checked: active, name: "star raiting", disabled: disabled %}
                                </li>
                              {% endfor %}
                            </ul>
                          </div>
                        {% elsif filter.param_name ==  "filter.p.m.appstore.languages" %}
                          <div class="filter-item" data-filter="{{ filter.param_name }}">
                            <p>{{ filter.label }}</p>
                            <ul>
                              {{ languages }}
                            </ul>
                            {% if language_count > 6 %}
                              <button type="button" open-category class="filter-item__button filter-item__button--open">{{ 'collection.show_more' | t }}</button>
                              <button type="button" close-category class="filter-item__button filter-item__button--close">{{ 'collection.show_less' | t }}</button>
                            {% endif %}
                          </div>
                        {% else %}
                          <div class="filter-item" data-filter={{ filter.param_name }}>
                            <p>{{ filter.label }}</p>
                            <ul>
                              {%- for filter_value in filter.values -%}
                                <li class="{% if forloop.index <= 6 %}visible{% endif %}">
                                  {% assign value = filter_value.param_name | append: "=" | append: filter_value.value | replace: " ", "+" %}
                                  {% assign disabled = false %}
                                  {% if filter_value.count == 0 and filter_value.active == false %}
                                    {% assign disabled = true %}
                                  {% endif %}
                                  {% assign label = filter_value.label | append: "(" | append: filter_value.count | append: ")" %}
                                  {% render 'checkbox', label: label, value: value, checked: filter_value.active, name: filter_value.param_name, disabled: disabled %}
                                </li>
                              {%- endfor -%}
                            </ul>
                            {% if filter.values.size > 6 %}
                              <button type="button" open-category class="filter-item__button filter-item__button--open">{{ 'collection.show_more' | t }}</button>
                              <button type="button" close-category class="filter-item__button filter-item__button--close">{{ 'collection.show_less' | t }}</button>
                            {% endif %}
                          </div>
                        {% endif %}
                      {%- when 'price_range' -%}
                       
                    {%- endcase -%}
                {% endif %}
              {%- endfor -%}
              </div>
          </form>
          
      </products-filter>
      <div class="dev-products__list">
        <collection-product-tabs>
          {% assign free = false %}
          {% for filter in collection.filters %}
            {% if filter.param_name == "filter.p.m.appstore.only_free_plan" and filter.active_values[0].label == "true" %}
                 {% assign free = true %}
            {% endif %}
          {% endfor %}
          <button {% if collection.sort_by == blank and free == false %}active{% endif %} value=''>{{ 'collection.all_apps' | t }}</button>
          <button {% if free == true %}active{%endif%} value='filter.p.m.appstore.only_free_plan=true'>{{ 'collection.free_apps' | t }}</button>
          <button {% if collection.sort_by == "price-descending" %}active{% endif %} value='sort_by=price-descending'>{{ 'collection.best_apps' | t }}</button>
          {% capture select-icon %}
              {% render 'select-icon' %}
          {% endcapture %}

          {% capture select-tabs %}
            <option
              value=""
              {% if collection.sort_by == blank and free == false %}selected{% endif %}> 
              {{ 'collection.all_apps' | t }}
            </option>
            <option
              value="filter.p.m.appstore.only_free_plan=true"
              {% if free == true %}selected{%endif%} > 
              {{ 'collection.free_apps' | t }}
            </option>
            <option
              value="sort_by=price-descending"
              {% if collection.sort_by == "price-descending" %}selected{% endif %}> 
              {{ 'collection.best_apps' | t }}
            </option>
          {% endcapture %}
          {% render 'select' | select_options: select-tabs, icon: select-icon %}
        </collection-product-tabs>
        {% paginate collection.products by 18 %}
          <product-list>
            {% if collection.products.size > 0 %}
              {% for product in collection.products %}
                  {% render 'app-card', product: product %}
              {% endfor %}
              {% render 'pagination', paginate: paginate %}
            {% else %}
              <div class="products-not-found">
                <div class="products-not-found__img">
                  {% render 'products-not-found' %}
                </div>
                <p class="products-not-found__text">
                  {{ 'collection.not-found' | t }}
                </p>
              </div>
            {% endif %}
          </product-list>
        {% endpaginate %}
      </div>
  </div>
</div>

<script src="{{ 'sections-collection-products.js' | asset_url }}" defer="defer"></script>

{% if collection.metafields.appstore.children.value != blank %}
  {% style %}
    .section-collection-products {
      display: none;
    }
  {% endstyle %}
{% endif %}
{% schema %}
{
  "name": "Collection Products",
  "class": "section section-collection-products",
  "tag": "section",
  "presets": [
    {
        "name": "Collection Products"
    }
  ],
  "settings": [
    {
			"type": "range",
			"id": "section_padding_top_m",
			"label": "Section Padding Top (mobile)",
			"min": 0,
			"max": 200,
			"step": 2,
			"default": 0,
			"unit": "px"
		},
		{
			"type": "range",
			"id": "section_padding_bottom_m",
			"label": "Section Padding Bottom (mobile)",
			"min": 0,
			"max": 200,
			"step": 2,
			"default": 0,
			"unit": "px"
		},
        {
			"type": "range",
			"id": "section_padding_top_t",
			"label": "Section Padding Top (tablet)",
			"min": 0,
			"max": 200,
			"step": 2,
			"default": 0,
			"unit": "px"
		},
		{
			"type": "range",
			"id": "section_padding_bottom_t",
			"label": "Section Padding Bottom (tablet)",
			"min": 0,
			"max": 200,
			"step": 2,
			"default": 0,
			"unit": "px"
		},
        {
			"type": "range",
			"id": "section_padding_top_d",
			"label": "Section Padding Top (desktop)",
			"min": 0,
			"max": 200,
			"step": 2,
			"default": 0,
			"unit": "px"
		},
		{
			"type": "range",
			"id": "section_padding_bottom_d",
			"label": "Section Padding Bottom (desktop)",
			"min": 0,
			"max": 200,
			"step": 2,
			"default": 0,
			"unit": "px"
		},
    {
      "type": "image_picker",
      "id": "not-found-img",
      "label": "No App Found Img"
    }
  ],
  "blocks": []
}
{% endschema %}