{% style %}
  #shopify-section-{{ section.id }} {
  padding-top: {{ section.settings.section_padding_top_m }}px;
  padding-bottom: {{ section.settings.section_padding_bottom_m }}px;
}

  @media screen and (min-width: 600px) {
      #shopify-section-{{ section.id }} {
          padding-top: {{ section.settings.section_padding_top_t }}px;
          padding-bottom: {{ section.settings.section_padding_bottom_t }}px;
      }
  }

  @media screen and (min-width: 1240px) {
      #shopify-section-{{ section.id }} {
          padding-top: {{ section.settings.section_padding_top_d }}px;
          padding-bottom: {{ section.settings.section_padding_bottom_d }}px;
      }
  }
{% endstyle %}

<div class="container collection-childs">
    <ul class="collection-childs__list">
        {% for child in collection.metafields.appstore.children.value %}
            <li class="collection-child">
              {% render 'sec-heading-3', sec_heading_3: child.title %}
              <div class="collection-child__apps">
                {% for product in child.products, limit: 3 %}
                  <a class="product-card" href="{{ product.url }}">
                    <div class="block-img-wrap product-card__img">
                    <img  src="{{ product.metafields.appstore.icon.value}}?width=140"
                          alt="{{ product.title }}"
                          srcset="{{ product.metafields.appstore.icon.value}}?width=70 1x,
                                  {{ product.metafields.appstore.icon.value}}?width=140 2x"
                          width="70"
                          height="70"
                          loading="lazy">
                    </div>
                    <div class="product-card__info">
                    {% render 'sec-heading-5' | sec_heading-5: product.title %}
                    {% if product.metafields.appstore.reviews.value > 0 %}
                      <div class="product-card__rate">
                          {{ product.metafields.appstore.rating.value }}
                          <div class="block-img-wrap">
                              {{ settings.star-icon }}
                          </div>
                          ({{ product.metafields.appstore.reviews }})
                      </div>
                    {% else %}
                      <div class="product-card__rate product-card__rate--no-reviews">
                          <div class="block-img-wrap">
                              {{ settings.star-icon }}
                          </div>
                          {{ "accessibility.no-reviews" | t }}
                      </div>
                    {% endif %}
                    {% render 'sec-description' | sec_description: product.metafields.appstore.card_subtitle %}
                    </div>
                </a>
                {% endfor %}
              </div>
              {% assign more_apps_text = "collection.more_apps" | t %}
              {% render 'linkTo', link: child.url, arrow: "true", text: more_apps_text, class: "collection-child__link" %}
            </li>
        {% endfor %}
    </ul>
</div>

{% if collection.metafields.appstore.children.value == blank %}
  {% style %}
    .section-collection-childs {
      display: none;
    }
  {% endstyle %}
{% endif %}

{% schema %}
{
  "name": "Collection`s childs",
  "class": "section section-collection-childs",
  "tag": "section",
  "presets": [
    {
        "name": "Collection`s childs old"
    }
  ],
  "settings": [
    {
			"type": "range",
			"id": "section_padding_top_m",
			"label": "Section Padding Top (mobile)",
			"min": 0,
			"max": 200,
			"step": 2,
			"default": 0,
			"unit": "px"
		},
		{
			"type": "range",
			"id": "section_padding_bottom_m",
			"label": "Section Padding Bottom (mobile)",
			"min": 0,
			"max": 200,
			"step": 2,
			"default": 0,
			"unit": "px"
		},
        {
			"type": "range",
			"id": "section_padding_top_t",
			"label": "Section Padding Top (tablet)",
			"min": 0,
			"max": 200,
			"step": 2,
			"default": 0,
			"unit": "px"
		},
		{
			"type": "range",
			"id": "section_padding_bottom_t",
			"label": "Section Padding Bottom (tablet)",
			"min": 0,
			"max": 200,
			"step": 2,
			"default": 0,
			"unit": "px"
		},
        {
			"type": "range",
			"id": "section_padding_top_d",
			"label": "Section Padding Top (desktop)",
			"min": 0,
			"max": 200,
			"step": 2,
			"default": 0,
			"unit": "px"
		},
		{
			"type": "range",
			"id": "section_padding_bottom_d",
			"label": "Section Padding Bottom (desktop)",
			"min": 0,
			"max": 200,
			"step": 2,
			"default": 0,
			"unit": "px"
		}
  ],
  "blocks": []
}
{% endschema %}
