{% style %}
    #shopify-section-{{ section.id }} {
		padding-top: {{ section.settings.section_padding_top_m }}px;
		padding-bottom: {{ section.settings.section_padding_bottom_m }}px;
	}

    @media screen and (min-width: 600px) {
        #shopify-section-{{ section.id }} {
            padding-top: {{ section.settings.section_padding_top_t }}px;
            padding-bottom: {{ section.settings.section_padding_bottom_t }}px;
        }
    }

    @media screen and (min-width: 1240px) {
        #shopify-section-{{ section.id }} {
            padding-top: {{ section.settings.section_padding_top_d }}px;
            padding-bottom: {{ section.settings.section_padding_bottom_d }}px;
        }
    }
{% endstyle %}

{% if page.content != blank or collection.description != blank %}
    <div class="about">
        {% if page %}
            {% liquid
                assign heading = section.settings.heading | append: " " | append: page.title
            %}
            {% render 'sec-heading', align: "left", sec_heading: heading, id: "about" %}
            {% render 'content', content: page.content %}
        {% elsif collection %}
            {% render 'content', content: collection.description, id: "about" %}
        {% endif %}
    </div>
    <script src="{{ 'sections-dev-about.js' | asset_url }}" defer="defer"></script>
{% endif %}
{% schema %}
{
    "name": "About Section",
    "class": "section section-about",
    "tag": "section",
    "presets": [
        {
            "name": "About Section"
        }
    ],
    "settings": [
        {
			"type": "range",
			"id": "section_padding_top_m",
			"label": "Section Padding Top (mobile)",
			"min": 0,
			"max": 200,
			"step": 2,
			"default": 0,
			"unit": "px"
		},
		{
			"type": "range",
			"id": "section_padding_bottom_m",
			"label": "Section Padding Bottom (mobile)",
			"min": 0,
			"max": 200,
			"step": 2,
			"default": 0,
			"unit": "px"
		},
        {
			"type": "range",
			"id": "section_padding_top_t",
			"label": "Section Padding Top (tablet)",
			"min": 0,
			"max": 200,
			"step": 2,
			"default": 0,
			"unit": "px"
		},
		{
			"type": "range",
			"id": "section_padding_bottom_t",
			"label": "Section Padding Bottom (tablet)",
			"min": 0,
			"max": 200,
			"step": 2,
			"default": 0,
			"unit": "px"
		},
        {
			"type": "range",
			"id": "section_padding_top_d",
			"label": "Section Padding Top (desktop)",
			"min": 0,
			"max": 200,
			"step": 2,
			"default": 0,
			"unit": "px"
		},
		{
			"type": "range",
			"id": "section_padding_bottom_d",
			"label": "Section Padding Bottom (desktop)",
			"min": 0,
			"max": 200,
			"step": 2,
			"default": 0,
			"unit": "px"
		},
        {
            "type": "text",
            "id": "heading",
            "label": "Title",
            "default": "About"
        }
    ]
}
{% endschema %}