{% style %}
    :root {
        --search-custom-bg: url({{ section.settings.background | img_url }});
    }
{% endstyle %}

{% style %}
    #shopify-section-{{ section.id }} {
		padding-top: {{ section.settings.section_padding_top_m }}px;
		padding-bottom: {{ section.settings.section_padding_bottom_m }}px;
	}

    @media screen and (min-width: 600px) {
        #shopify-section-{{ section.id }} {
            padding-top: {{ section.settings.section_padding_top_t }}px;
            padding-bottom: {{ section.settings.section_padding_bottom_t }}px;
        }
    }

    @media screen and (min-width: 1240px) {
        #shopify-section-{{ section.id }} {
            padding-top: {{ section.settings.section_padding_top_d }}px;
            padding-bottom: {{ section.settings.section_padding_bottom_d }}px;
        }
    }
{% endstyle %}

{% capture image-content %}
    <div class="search-picture">
        <div class="block-img-wrap search-picture__image">
            {{  section.settings.image | image_url: width: 1100 | image_tag:
                width: 525,
                height: 525,
                loading: 'lazy',
                widths: '550, 1100',
                alt: section.settings.image.alt 
            }}
        </div>
        {% for block in section.blocks %}
            <a href="{{ block.settings.app.url }}" class="block-img-wrap search-picture__product search-picture__product--{{ forloop.index }}">
                <img src="{{ block.settings.app.metafields.appstore.icon.value}}?width=90"
                    alt="{{ block.settings.app.title }}"
                    srcset="{{ block.settings.app.metafields.appstore.icon.value}}?width=45 1x,
                            {{ block.settings.app.metafields.appstore.icon.value}}?width=90 2x"
        
                    width="45"
                    height="45"
                    loading="lazy">
            </a>
        {% endfor %}
    </div>
{% endcapture %}

<div class="container-grid">
    <div class="search-content">
        {% assign placeholder = 'accessibility.app_search_placeholder' | t %}
        <div>
            {% render 'sec-heading-1' | align: 'left', class: "search-content__title" %}
            <div class="search-content__collection-outer js-search-content__collection-outer">
                <div class="search-content__collection"> <span class="search-content__collection-heading">to</span>
                    <div class="search-content__collection-wrapper">
                        {% render 'search-field' | input_name: "collection-search" , placeholder: " " , search_type: "collection", class: "search-content__collection-search" %}
                        <span class="search-content__dynemic-collection js-search-content__dynemic-collection" data-titles="{% for collection in section.settings.dynemic_collections %}{{ collection.title }}{% unless forloop.last %}&-&{% endunless %}{% endfor %}">
                        </span>
                    </div>
                </div>
            </div>
        </div>
        
        {% render 'search-field' | input_name: "homepage-search" , placeholder: placeholder , search_type: "product" %}
        {% render 'sec-description' %}
    </div>
    {{ image-content }}
</div>

<script src="https://unpkg.com/typed.js@2.1.0/dist/typed.umd.js"></script>
<script src="{{ 'snippets-search-field.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'sections-hamepage-main-section.js' | asset_url }}" defer="defer"></script>

{% schema %}
{
    "name": "Main Homepage Section",
    "class": "section section-homepage-main",
    "tag": "section",
    "presets": [
        {
            "name": "Main Homepage Section"
        }
    ],
    "settings": [
        {
			"type": "range",
			"id": "section_padding_top_m",
			"label": "Section Padding Top (mobile)",
			"min": 0,
			"max": 200,
			"step": 2,
			"default": 0,
			"unit": "px"
		},
		{
			"type": "range",
			"id": "section_padding_bottom_m",
			"label": "Section Padding Bottom (mobile)",
			"min": 0,
			"max": 200,
			"step": 2,
			"default": 0,
			"unit": "px"
		},
        {
			"type": "range",
			"id": "section_padding_top_t",
			"label": "Section Padding Top (tablet)",
			"min": 0,
			"max": 200,
			"step": 2,
			"default": 0,
			"unit": "px"
		},
		{
			"type": "range",
			"id": "section_padding_bottom_t",
			"label": "Section Padding Bottom (tablet)",
			"min": 0,
			"max": 200,
			"step": 2,
			"default": 0,
			"unit": "px"
		},
        {
			"type": "range",
			"id": "section_padding_top_d",
			"label": "Section Padding Top (desktop)",
			"min": 0,
			"max": 200,
			"step": 2,
			"default": 0,
			"unit": "px"
		},
		{
			"type": "range",
			"id": "section_padding_bottom_d",
			"label": "Section Padding Bottom (desktop)",
			"min": 0,
			"max": 200,
			"step": 2,
			"default": 0,
			"unit": "px"
		},
        {
            "type": "richtext",
            "id": "heading",
            "label": "Section title",
            "default": "<p>Find the best app for your Shopify store tailored to</p>"
        },
        {
            "type": "text",
            "id": "description",
            "label": "Section description"
        },
        {
            "type": "image_picker",
            "id": "background",
            "label": "Custom background"
        },
        {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
        },
        {
            "type": "collection_list",
            "label": "Dynemic Collections",
            "id": "dynemic_collections"
        }
    ],
    "blocks": [
        {
            "type": "app",
            "name": "App Logo",
            "limit": 7,
            "settings": [
                {
                    "type": "product",
                    "id": "app",
                    "label": "Select Product"
                }
            ]
        }
    ]
}
{% endschema %}
