{% liquid
  render 'sec-header-description'
%}

{% style %}
    #shopify-section-{{ section.id }} {
		padding-top: {{ section.settings.section_padding_top_m }}px;
		padding-bottom: {{ section.settings.section_padding_bottom_m }}px;
	}

    @media screen and (min-width: 600px) {
        #shopify-section-{{ section.id }} {
            padding-top: {{ section.settings.section_padding_top_t }}px;
            padding-bottom: {{ section.settings.section_padding_bottom_t }}px;
        }
    }

    @media screen and (min-width: 1240px) {
        #shopify-section-{{ section.id }} {
            padding-top: {{ section.settings.section_padding_top_d }}px;
            padding-bottom: {{ section.settings.section_padding_bottom_d }}px;
        }
    }
{% endstyle %}

{%- capture section_content -%}
{%- form 'storefront_password', class: 'password-form' -%}
  <div class="password-field field{% if form.errors %} password-field--error{% endif %}">
    <input
      type="password"
      name="password"
      id="Password"
      class="field__input"
      autocomplete="current-password"
      {% if form.errors %}
        aria-invalid="true"
        aria-describedby="PasswordLoginForm-password-error"
      {%- endif -%}
      placeholder="{{ 'general.password_page.login_form_password_placeholder' | t }}"
    >
    <label class="field__label" for="{{ 'general.password_page.login_form_password_label' | t }}">{{ 'general.password_page.login_form_password_placeholder' | t }}</label>
    {%- if form.errors -%}
      <div id="PasswordLoginForm-password-error" role="status">
        <span class="visually-hidden">{{ 'accessibility.error' | t }}</span>
        <span class="form__message">{% render 'icon-error' %} {{ 'general.password_page.login_form_error' | t }}</span>
      </div>
    {%- endif -%}
  </div>
  <button name="commit" class="password-button button button--outline">
    {{ 'general.password_page.login_form_submit' | t }}
  </button>
{%- endform -%}
{%- endcapture -%}

{{ section_content }}

{% schema %}
{
  "name": "Password form",
  "class": "section section-password-form",
  "tag": "section",
  "settings": [
    {
      "type": "range",
      "id": "section_padding_top_m",
      "label": "Section Padding Top (mobile)",
      "min": 0,
      "max": 200,
      "step": 2,
      "default": 0,
      "unit": "px"
  },
  {
      "type": "range",
      "id": "section_padding_bottom_m",
      "label": "Section Padding Bottom (mobile)",
      "min": 0,
      "max": 200,
      "step": 2,
      "default": 0,
      "unit": "px"
  },
      {
      "type": "range",
      "id": "section_padding_top_t",
      "label": "Section Padding Top (tablet)",
      "min": 0,
      "max": 200,
      "step": 2,
      "default": 0,
      "unit": "px"
  },
  {
      "type": "range",
      "id": "section_padding_bottom_t",
      "label": "Section Padding Bottom (tablet)",
      "min": 0,
      "max": 200,
      "step": 2,
      "default": 0,
      "unit": "px"
  },
      {
      "type": "range",
      "id": "section_padding_top_d",
      "label": "Section Padding Top (desktop)",
      "min": 0,
      "max": 200,
      "step": 2,
      "default": 0,
      "unit": "px"
  },
  {
      "type": "range",
      "id": "section_padding_bottom_d",
      "label": "Section Padding Bottom (desktop)",
      "min": 0,
      "max": 200,
      "step": 2,
      "default": 0,
      "unit": "px"
  },
    {
      "type": "checkbox",
      "id": "show_heading",
      "default": true,
      "label": "Show heading"
    },
    {
      "type": "richtext",
      "id": "heading",
      "default": "<p>Password form <em>Heading</em></p>",
      "label": "Add heading text"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "m",
          "label": "m"
        },
        {
          "value": "l",
          "label": "l"
        },
        {
          "value": "xl",
          "label": "xl"
        },
        {
          "value": "xxl",
          "label": "xxl"
        }
      ],
      "default": "xl",
      "label": "Heading size"
    },
    {
      "type": "select",
      "id": "heading_alignment",
      "label": "Heading alignment",
      "options": [
        {
          "value": "left",
          "label": "left"
        },
        {
          "value": "center",
          "label": "center"
        },
        {
          "value": "right",
          "label": "right"
        }
      ],
      "default": "left"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "Description",
      "default": "<p>Password form Description</p>"
    }
  ],
  "blocks": [
    {
      "type": "section_block",
      "name": "Password form block",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Password form photo"
        },
        {
          "type": "text",
          "id": "heading",
          "default": "Password form item heading",
          "label": "Password form item heading"
        },
        {
          "type": "richtext",
          "id": "content",
          "default": "<p>Password form item content</p>",
          "label": "Password form item content"
        }
      ]
    }
  ]
}
{% endschema %}