{% liquid 
    assign collections = section.blocks

    for block in collections
        if forloop.first == true
            assign apps = 'accessibility.apps' | t
            assign linkText = 'accessibility.see_best' | t | append: " " | append: block.settings.collection.title | append: " " | append: apps
            assign linkCollection = block.settings.collection.url | append: "?sort_by=price-descending"
        endif
    endfor

    capture select-icon
        render 'select-icon'
    endcapture
%}

{% capture options %}
  {% for collection in collections %}
    <option
      value="{{ collection.settings.collection }}"
      data-value="{{ collection.settings.collection.title }}"
      {% if forloop.first == true %}selected{% endif %}>{{ collection.settings.collection.title }}</option>
  {% endfor %}
{% endcapture %}

{% capture changer-selects %}
  {% render 'select' | select_options: options, class: "changer__select", id: "popular-select", icon: select-icon %}
{% endcapture %}

{% capture changer-list %}
  <ul class="changer__list">
      {% for collection in collections %}
        <li
          class="changer__item"
          onclick="changePopularCollection(this)"
          {% if forloop.first == true %}data-active=""{% endif %}data-value="{{ collection.settings.collection.title }}"data-category="{{ collection.settings.collection }}">
          {{ collection.settings.collection.title }}
        </li>
      {% endfor %}
    </ul>
{% endcapture %}

{% capture categories-filter %}
  <div class="categories" id="popularCollections">
  
  {% render 'categories-changer' | selects: changer-selects | lists: changer-list %}

    {% for collection in collections %}
      {% assign products = collection.settings.collection.products | sort: 'price' | reverse %}
      {% if forloop.first == true %}
        {% render 'apps-list' | products: products, id: "popular-list", active: true, handle: collection.settings.collection.handle %}
      {% else %}
        {% render 'apps-list' | products: products, id: "popular-list", handle: collection.settings.collection.handle %}
      {% endif %}
    {% endfor %}
  </div>
{% endcapture %}

{% style %}
    #shopify-section-{{ section.id }} {
		padding-top: {{ section.settings.section_padding_top_m }}px;
		padding-bottom: {{ section.settings.section_padding_bottom_m }}px;
	}

    @media screen and (min-width: 600px) {
        #shopify-section-{{ section.id }} {
            padding-top: {{ section.settings.section_padding_top_t }}px;
            padding-bottom: {{ section.settings.section_padding_bottom_t }}px;
        }
    }

    @media screen and (min-width: 1240px) {
        #shopify-section-{{ section.id }} {
            padding-top: {{ section.settings.section_padding_top_d }}px;
            padding-bottom: {{ section.settings.section_padding_bottom_d }}px;
        }
    }
{% endstyle %}

<div class="container-grid">
  {% render 'sec-heading' %}

  {{ categories-filter }}
  {% render 'linkTo' | text: linkText, link: linkCollection, class: "popular-category__link" %}
</div>

{% capture 'dishMetaFields' %}
  {
  {% for collection in collections %}
    {% for product in collection.settings.collection.products %}

      "{{ product.handle }}" : {
      rating : "{{ product.metafields.appstore.rating.value }}",
      reviews : "{{ product.metafields.appstore.reviews }}",
      card_subtitle : "{{ product.metafields.appstore.card_subtitle }}",
      },

    {% endfor %}
  {% endfor %}
  }
{% endcapture %}

<script type="text/javascript">
  let linkName1 = "{{ 'accessibility.see_best' | t }}";
  let linkName2 = "{{ 'accessibility.apps' | t }}";
</script>

<script src="{{ 'sections-popular-categories.js' | asset_url }}" defer="defer"></script>

{% schema %}
  {
    "name": "Popular Categories",
    "class": "section section-popular-categories",
    "tag": "section",
    "presets": [
      {
        "name": "Popular Categories"
      }
    ],
    "settings": [
      {
        "type": "range",
        "id": "section_padding_top_m",
        "label": "Section Padding Top (mobile)",
        "min": 0,
        "max": 200,
        "step": 2,
        "default": 0,
        "unit": "px"
    },
    {
        "type": "range",
        "id": "section_padding_bottom_m",
        "label": "Section Padding Bottom (mobile)",
        "min": 0,
        "max": 200,
        "step": 2,
        "default": 0,
        "unit": "px"
    },
        {
        "type": "range",
        "id": "section_padding_top_t",
        "label": "Section Padding Top (tablet)",
        "min": 0,
        "max": 200,
        "step": 2,
        "default": 0,
        "unit": "px"
    },
    {
        "type": "range",
        "id": "section_padding_bottom_t",
        "label": "Section Padding Bottom (tablet)",
        "min": 0,
        "max": 200,
        "step": 2,
        "default": 0,
        "unit": "px"
    },
        {
        "type": "range",
        "id": "section_padding_top_d",
        "label": "Section Padding Top (desktop)",
        "min": 0,
        "max": 200,
        "step": 2,
        "default": 0,
        "unit": "px"
    },
    {
        "type": "range",
        "id": "section_padding_bottom_d",
        "label": "Section Padding Bottom (desktop)",
        "min": 0,
        "max": 200,
        "step": 2,
        "default": 0,
        "unit": "px"
    },
      {
        "type": "text",
        "id": "heading",
        "label": "Section title",
        "default": "Apps from popular categories"
      }
    ],
    "blocks": [
      {
        "type": "category",
        "name": "Category",
        "settings": [
          {
            "type": "collection",
            "id": "collection",
            "label": "Select Category"
          }
        ]
      }
    ]
  }
{% endschema %}